.backgroundSkills {
  align-items: left;
  background: none;
  background-color: #f6f5f5;
  background-size: repeat;
  display: flex;
  flex-direction: row;
  height: 730px;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 105%;
  overflow-x: hidden;
}

.dark .backgroundSkills {
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png");
  background-color: #272726;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

#boxleft {
  display: flex;
  margin-left: 50px;
  width: 45%;
  height:  60%;
  padding: 10px;
  font-family: Poppins;
  font-size: 15px;
  margin-top: 100px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: absolute;
  border-right: 1px solid var(--cor-text-dark);
  text-align: center;
}
.dark #boxleft{
  color: var(--cor-text-dark);
  border-right: 1px solid var(--cor-text);
}

#boxright {
  position: absolute;
  display: flex;
  width: 40%;
  display: flex;
  align-content: flex-end;
  margin-right: 0px;
}

.hardSkills {
  display: flex;
  margin-top: 120px;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
}
.buttom {
  display: flex;
  padding: 10px;
  width: 120px;
  height: 30px;
  outline: 0;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 3px;
  font-family: Poppins;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: rgb(245, 181, 132);
    color: var(--cor-text);
    align-items: center;
    cursor: pointer;
  border: 1px solid var(--cor-text-dark);
  text-shadow: 1px 1px 1px rgb(253, 198, 156);
}

.dark .buttom {
  background-color: rgb(184, 132, 92);
  border: 1px solid var(--cor-text);
  color: var(--cor-text-dark);
  text-shadow: 1px 1px 1px rgb(184, 132, 92);
}
#cursor {
  cursor: inherit;
}
.buttomsoft, .buttomhard {
  display: flex;
  position: absolute;
  margin-left: 0px;
  margin-top: 100px;
  background-color: none;
  height: 100px;
  width: 95%;
  text-align: center;
  opacity: 1;
}

/* .buttom i {
  
} */
ul span {
  display: inline-block;
  margin-left: 3px;
  border: none;
  color: var(--cor-text);
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  background: none;
  border-radius: 2px;
  margin-top: 10px;
  margin: 15px;
}
.color {
  padding: 5px;
  background: var(--cor-text-dark);
  color: var(--cor-text);
  margin-top: -5px;
}
.dark .color {
  background: var(--cor-text);
  color: var(--cor-text-dark);
}
ul span img {
width: auto;
border-radius: 5px;
}
.dark ul span {
  color: var(--cor-text-dark);
}
.buttomhard {
  background: url("ttps://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png");
  background-color: #f6f5f5;
  background-size: repeat;
  text-align: center;
  opacity: 1;
  z-index: 4;
}
.dark .buttomsoft {
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png");
  background-color: #272726;
  overflow-x: hidden;
}
.dark .buttomhard {
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png");
  background-color: #272726;
  overflow-x: hidden;
}
.index {
  z-index: 4;
}
#left {
  margin-left: 50px;
}
.ti {
  position: absolute;
  width: 100%;
  font-family: Work Sans,sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--cor-text);
}
.dark .ti {
  color: var(--cor-text-dark);
}

@media screen and (max-width: 780px) {
  .backgroundSkills {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 105%;
    align-items: center;
    height: 1100px;
  }
  #boxleft {
    display: flex;
    margin-left: 0px;
    width: 100%;
    border: transparent;
  }
  .buttomsoft, .buttomhard {
    display: flex;
    position: absolute;
    margin-left: -50px;
    margin-top: 100px;
    background-color: none;
    height: 100px;
    width: 90%;
    text-align: center;
    opacity: 1;
  }
}