:root {
  --cor-principal:rgb(237, 174, 126);
  --cor-principal-sedundaria:#cdbcc9;
  --cor-borda-itens:#FED766;
  --cor-text-menu:rgba(72,72,72);
  --cor-text:rgba(72,72,72);
  --cor-text-dark:rgb(229, 225, 225);
  --cor-icons-dark:rgb(69, 69, 69);
  --cor-text-h1:rgb(23, 23, 23);
  --cor-text-h2:rgb(53, 53, 53);
  --cor-text-h1-dark:#fdf4da;
  --cor-text-h2-dark:#c4c4c4;
}

.buttomclose {
  display: flex;
  padding: 10px;
  width: 120px;
  height: 30px;
  outline: 0;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 3px;
  font-family: Poppins;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #b99bb2;
    color: white;
    align-items: center;
    cursor: pointer;
  border: 1px solid #9a7a939c;
  text-shadow: 1px 1px 1px #9a7a93;
}

.seta2 {
  position: absolute;
  display: inline-block;
  margin-left: 3px;
  border: none;
  color:  #b99bb2;
  font-size: 55px;
  font-weight: normal;
  border-radius: 2px;
  margin-top: -71px;
  margin-left: 410px;
}

.pa {
  margin-left: 5px;
}

.totop {
  opacity: 8;
}
.dark .totop {
  opacity: 8;
}

#boxright {
  display: flex;
  width: 40%;
  align-content: center;
  right: 105px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* margin-left: 900px; */
  margin-top: 100px;
  width: 45%;
  height:  60%;
  text-align: center;
}
.softSkills {
  display: flex;
  width: 100%;
  margin-top: -50px;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
}
.top {margin-top: -350px;}

ul span {
  font-family: Poppins;
  font-size: 13px;
}

.left2 {
  margin-left: 100px;
  margin-top: 30px;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url(./css2/fontes/NeueMontreal-Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Darker+Grotesque:wght@700&family=Montserrat+Subrayada&family=Montserrat:wght@400;500;800&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital,wght@0,500;1,600&family=Poppins&family=Work+Sans:wght@700&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Darker+Grotesque:wght@700&family=Montserrat+Subrayada&family=Montserrat:wght@400;500;800&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital,wght@0,500;1,600&family=Poppins&family=Yanone+Kaffeesatz&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 1380px) {
  .seta2 {
    margin-top: -71px;
    margin-left: 310px;
  }
  .navegation {
    margin-left: 500px;
    margin-top: -15px!important;
  }
}
@media screen and (max-width: 780px) {
  .backgroundSkills {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 105%;
    align-items: center;
    height: 1100px;
  }
  .seta2 {
    margin-top: -71px;
    margin-left: 280px;
  }
  #boxleft {
    width: 35%;
  }
  #boxright {
  margin-top: 450px;
  width: 80%!important;
  margin-left: 100px!important ;
  }
  .softSkills {
    max-width: 100%;
    display: flex;
    margin-top: 250px;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
  }
  .top {margin-top: -40px;
    left: 50px;
  }
}
@media screen and (max-width: 400px) {
  .backgroundSkills {
    height: 1500px;
  }
  .top {margin-top: 80px;
    left: 80px;
  }
  .seta2 {
    margin-top: -71px;
    margin-left: 280px;
  }
  #boxleft {
    width: 100%;
  }
  .hardSkills {
    margin-left: 10px;
  }
  .buttom {
    width: 90px!important;
    font-size: 15px!important;
  }
  .softSkills {
    margin-top: 420px;
    width: 100%;
    left: 50px;
  }
  .left2 {
    margin-left: 100px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
